/* Fonte: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}   

/* Footer */

.logo-footer {
    height: 35px;
    padding-right: 5px;
}


li a img {
    height: 23px;
}